*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 13px;
}

body{
    font-family: "Rethink Sans";
}
/* stili generali struttura */
.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
   
    
}

.green-box{
    
    height: 150px;
    background-color: #009688;
    width: 100%;
}

.main-container{
    height: 700px;
    width: 85%;
    /* border: 1px solid black; */
    background-color: #fafafa;
    position: absolute; 
    top: 15px; 
    left: 10%; 
    right: 10%;
    bottom: 15px;
    z-index: 2;
    
}

.navbar{
    display: flex;
    height: 80px;
    /* border: 1px solid black; */
    background-color: #f3eeea;
}

.nav-left{
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
}
.nav-right{
    width: 60%;
    height: 100%;
    /* border: 1px solid black; */
}



.chat-container{
    width: 40%;
    height: 620px;
    /* border: 1px solid black; */
    /* background-color: blue; */
}
.conversation-container{
   
    width: 60%;
    height:  620px;
    /* border: 1px solid black; */
    /* background-color: pink; */
}

.notifications{
    height: 80px;
    width: 100%;
    background-color: #8edafc;
    /* border: 1px solid black; */


}

.search{
    height: 50px;
    width: 100%;
    /* border: 1px solid black; */
}


.searchbar{
    width: 90%;
    height: 75%;
    margin: auto;
    border: 1px solid #d1cbcb ;

}

.contact-list{
    height: calc(100% - 130px);
    width: 100%;
    /* border: 1px solid black; */
    overflow: scroll;
    background-color: #ffffff;
}

.text-container{
    height:calc(100% - 60px);
    width: 100%;
    /* border: 1px solid black; */
    overflow: auto;
    background-image: url('../img/sfondo-watshapp.jpg');
    background-size: contain;
    display: flex;
    
    

}

.bottom-bar{
    height:60px;
    width: 100%;
    /* border: 1px solid black; */
    background-color: #f3eeea;
}




.card{
    padding: 10px;
    width: 100%;
    height: 70px;
    /* border: 1px solid black; */
    /* background-color: yellow; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.contact-list .card {
    border-bottom: 1px solid #e5e0e0;
}
.contact-list .card:hover{
    background-color:#e9ebeb;

}


.box-img{
    width: 50px;
    height: 50px;
    /* border: 1px solid black; */
    margin-right: 10px;
    border-radius: 50%;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



.fa-solid.fa-bell-slash{
   color: #8edafc;
   font-size: 30px; 
}


.search-button{
    width: 20%;
    height: 100%;
    border: 1px solid white; 
    border-right-color: grey;
    background-color: #fafafa;
}


.search-chat{
    width: 80%;
    height: 100%;
    background-color: #fafafa;
    border: 1px solid white;
}

.icon-bottom{
    color: grey;
    font-size: 25px;
    margin: 0 15px;
}

.fa-solid.fa-microphone{
    color: grey;
    font-size: 25px;
    margin: 0 15px;
}

.insert-text{
    width: 90%;
    padding: 10px;
    border: 1px solid white;

}


.dropdown{
    font-family: 'Rethink Sans';
    background-color: white;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 60%;
    right: 0;
    text-align: center;
    padding: 10px;
    z-index: 1;
}

.ms-delete-message{

    margin-top: 10px;

}








/*stili per assengsare caratteristiche */

.d-flex{
    display: flex;
}

.light-grey{
    color: #d1cbcb;
}

.grey{
    color: grey;
}

.full-widht{
    width: 100%;
    padding-top: 35px;
    height: 100%;
    
}

.justify-content-center{
    display: flex;
    justify-content: center;
}


.align-items-center{
    display: flex;
    align-items: center;
}

.fa-solid{
    margin: 0 5px;
    color: #b1b1b1;
    font-size: 22px;
}

.bg-white{
    background-color: white;
}

.underline{
    text-decoration:underline;
}
/* stili messaggi */



.text-user{

    position:relative;
    width: 250px;
   
    background-color: #d5f9ba ;
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0 15px 50%;
}

.text-response{
    width: 250px;
    background-color:#ffffff;
    border-radius: 8px;
    margin: 15px 0 15px 10%;
    padding: 20px;
    
}



